<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--第一种方法，下标赋值-->
    <!--<bean id="user" class="cn.zlatanlgd.pojo.User">-->
    <!--    <constructor-arg index="0" value="Ronaldo"/>-->
    <!--</bean>-->

    <!--第二种方法：类型匹配，不建议使用！-->
    <!--<bean id="user" class="cn.zlatanlgd.pojo.User">-->
    <!--    <constructor-arg type="java.lang.String" value="messi"/>-->
    <!--</bean>-->

    <!--第三种方法：直接通过参数名-->
    <bean id="user" class="cn.zlatanlgd.pojo.User">
        <constructor-arg name="name" value="zlatan"/>
    </bean>


    <!--别名-->
    <alias name="user" alias="myuser"/>

    <!--
    id：bean的唯一标识符，也就是对象名。
    class：bean对象所对应的全限定名。
    name：也是别名，可以同时取多个别名。
    -->
    <bean id="userT" class="cn.zlatanlgd.pojo.UserT" name="user2,u2 u3;u4">
    </bean>
</beans>